__pycache__/
*.pyc

*.db
*.sqlite
*.sqlite3

migrations/versions/
migrations/__pycache__/
migrations/alembic.ini
migrations/env.py
migrations/README
migrations/script.py.mako

docker-compose

.vscode/

.DS_Store